.records {
  margin-top: 30px;
  margin-left: 450px;
  margin-right: 450px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.top {
  display: grid;
  grid-template-columns: 1fr 200px 200px;
  
  padding-right: 200px;
  padding-top: 0px;
}

.bread {
  grid-column: 1 / 2;
}

.deleteButton {
  grid-column: 3;
}